.footer__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-right: 18px;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    opacity: .8; /*поправлено значение по макету ссылка на ЯД https://disk.yandex.ru/i/F_xp4k5xDCiRWA*/
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin-bottom: 48px;
    }
}