.place__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.39px;
    margin: 0 0 26px;
    overflow-wrap: break-word;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraph {
        margin-bottom: 25px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
} /*исправлены медиазапросы*/