.place {
    display: grid;
    grid-template-columns: 460fr 484fr;
    row-gap: 48px;
    column-gap: 40px;
}

.place:not(:first-of-type) {
    padding-top: 80px;
} /*заданы отступы между блоками, кроме первого благодаря псевдоклассу*/

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        column-gap: 28px;
    }

    .place:not(:first-of-type) {
        padding-top: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .place:not(:first-of-type) {
        padding-top: 50px;
    }
}